html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
input, button, submit { border:none; }
button {
  all: unset;
}
.topBox{
  background-color: black;
  width: 360px;
  height: 182px;
  margin: 0px auto;
}
/* .verticalLine {
  padding-left: 12px;
  border-left: 2px solid #000000;
} */
/* .line:before, .line:after {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 10px;
  float: left;
  background: #000;
  margin-top: -3px;
} */

.oneChild{
  padding-left:15px;
  padding-top: 5px;
  padding-right: 25px;
  width: 225px;
  height: 29px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: rgba(0, 0, 0, 0.7);
}



















.round {
  position: relative;
  float: right;
}
.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
















.Start-Marker{
  padding-left: 12px;
  padding-top: 18px;
  width: 69px;
  height: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
#time-name{
  padding-left: 12px;
}
.form-driver{
	font: 95% Arial, Helvetica, sans-serif;
	margin: 0px auto;
	padding: 0px;
	background: #F7F7F7;
}
.form-driver input{
  background: #FFFFFF;
  border: 1.17021px solid #000000;
  box-sizing: border-box;
  width: 328px;
  height: 48px;
  left: 16px;
  top: 402px;
}

.form-driver input[type="text"]{
  padding-left: 5.75%;
  padding-right: 13.42%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.4);
}

.form-driver input:focus{
  color: rgba(0, 0, 0, 0.8);
}

#input-fields{
  background: #ffffff;
  padding-top:53px;
  padding-bottom: 53px;
  padding-left: 16px;
  padding-right : 16px;
}
* {
  box-sizing: border-box;
}
#Submit-button{
  position:absolute;
  bottom:0;
  width:100%;
  color: #FFFFFF;
  background: #000000;
  height: 55px;
  width: 360px;
  border: none;
  text-align:  center;
}

button:active{
  background-color: rgb(0, 50, 77);
}
